{% extends "@Contao/content_element/_base.html.twig" %}

{% block content %}
    {% if as_editor_view %}
            <span class="xing">{{ wildcard }}</span>
    {% else %}
        {% for xingrow in xing %}
            <div class="xing_image">
                <a href="//www.xing.com/profile/{{ xingrow['xingprofil'] }}" {{ xingrow['xingtarget']|raw }}>{{ xingrow['xinglayout']|raw }}</a>
            </div>
            <div class="xing_profile">{{ xingrow['xingprofil'] |replace({'_': ' ' }) }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}
